USE [master]
GO
/****** Object:  Database [bdtestelp2]    Script Date: 02/09/2026 08:33:10 ******/
CREATE DATABASE [bdtestelp2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdtestelp2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bdtestelp2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdtestelp2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bdtestelp2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdtestelp2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdtestelp2]
GO
/****** Object:  Table [dbo].[tb_pessoas]    Script Date: 02/09/2026 08:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pessoas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_teste_crud]    Script Date: 02/09/2026 08:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_teste_crud](
	[estoque] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpessoa] [int] NULL,
	[preco] [real] NULL,
	[categoria] [varchar](255) NULL,
	[nome] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_teste_crud]  WITH CHECK ADD  CONSTRAINT [FK5k4fuc79wg93q28el9hhadnr0] FOREIGN KEY([idpessoa])
REFERENCES [dbo].[tb_pessoas] ([id])
GO
ALTER TABLE [dbo].[tb_teste_crud] CHECK CONSTRAINT [FK5k4fuc79wg93q28el9hhadnr0]
GO
USE [master]
GO
